.header {
    margin-left: 407px;
    height: 296px;
    background: transparent url('/img/group2.png') 0% 0% no-repeat padding-box;
    opacity: 1;

    h1 {
        font-size: 96px;
        color:#273476;
        margin-left: 291px;
    }
}