.dottedBack {
  position: absolute;
  z-index: -1;
  top: 650px;
  width: 45%;
  height: 2300px;
  left: 0;
  border-right: 2px dashed #CDD3F0;
}

.contentHowTo {
  position: relative;
  z-index: 1;
}
.contentHowTo .howToBlock {
  width: 80%;
  margin-left: 15%;
  margin-top: 3%;
  display: flex;
}
.contentHowTo .howToBlock .preview {
  width: 600px;
  height: 370px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.contentHowTo .howToBlock .preview .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  height: 124px;
  width: 53px;
}
.contentHowTo .howToBlock .preview .slick-arrow > svg {
  fill: #273476;
}
.contentHowTo .howToBlock .preview .slick-arrow:hover {
  background-color: #273476;
}
.contentHowTo .howToBlock .preview .slick-arrow:hover > svg {
  fill: white;
}
.contentHowTo .howToBlock .preview .slick-prev {
  left: -53px;
  border-radius: 53px 0 0 53px;
}
.contentHowTo .howToBlock .preview .slick-prev:before {
  display: none;
}
.contentHowTo .howToBlock .preview .slick-next {
  right: -53px;
  border-radius: 0 53px 53px 0;
}
.contentHowTo .howToBlock .preview .slick-next:before {
  display: none;
}
.contentHowTo .howToBlock .previewText {
  top: 685px;
  width: 40%;
  margin-left: 5%;
  text-align: left;
  color: #273476;
}
.contentHowTo .howToBlock .previewText .previewHeadline {
  font-size: 45px;
}
.contentHowTo .howToBlock .previewText .previewInfo {
  font-size: 18px;
}
.contentHowTo .howToBlock .previewText .sponsors {
  margin-top: 5%;
  display: flex;
}
.contentHowTo .howToBlock .previewText .sponsors img {
  padding-right: 50px;
}
.contentHowTo .howToBlockReverse {
  width: 80%;
  margin-left: 8%;
  margin-top: 3%;
  display: flex;
}
.contentHowTo .howToBlockReverse .preview {
  width: 600px;
  height: 370px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.contentHowTo .howToBlockReverse .preview .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  height: 124px;
  width: 53px;
}
.contentHowTo .howToBlockReverse .preview .slick-arrow > svg {
  fill: #273476;
}
.contentHowTo .howToBlockReverse .preview .slick-arrow:hover {
  background-color: #273476;
}
.contentHowTo .howToBlockReverse .preview .slick-arrow:hover button {
  display: none;
}
.contentHowTo .howToBlockReverse .preview .slick-arrow:hover > svg {
  fill: white;
}
.contentHowTo .howToBlockReverse .preview .slick-prev {
  left: -53px;
  border-radius: 53px 0 0 53px;
}
.contentHowTo .howToBlockReverse .preview .slick-prev::before {
  display: none;
}
.contentHowTo .howToBlockReverse .preview .slick-next {
  right: -53px;
  border-radius: 0 53px 53px 0;
}
.contentHowTo .howToBlockReverse .preview .slick-next::before {
  display: none;
}
.contentHowTo .howToBlockReverse .previewText {
  left: 420px;
  width: 40%;
  margin-right: 5%;
  text-align: right;
  color: #273476;
}
.contentHowTo .howToBlockReverse .previewText .previewHeadline {
  font-size: 45px;
}
.contentHowTo .howToBlockReverse .previewText .previewInfo {
  font-size: 18px;
}
.contentHowTo .howToBlockReverse .previewText .sponsors {
  margin-top: 5%;
  display: flex;
}
.contentHowTo .howToBlockReverse .previewText .sponsors img {
  padding-right: 50px;
}

.slick-dots {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
}
.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  color: #CDD3F0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  color: #FF5A5F;
  pointer-events: none;
}/*# sourceMappingURL=slides.css.map */