.dottedBack {
    position: absolute;
    z-index: -1;
    top: 650px;
    width: 45%;
    height: 2300px;
    left: 0;
    border-right: 2px dashed #CDD3F0;

}

.contentHowTo {
    position: relative;
    z-index: 1;


    .howToBlock {       
        width: 80%;
        margin-left: 15%;
        margin-top: 3%;
        display: flex;


        .preview {
            width: 600px;
            height: 370px;
            box-shadow: 0px 4px 16px #00000029;
            opacity: 1;

              .slick-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background-color: transparent;
                height: 124px;
                width: 53px;
              }
          
              .slick-arrow > svg {
                fill: #273476;
              }
          
              .slick-arrow:hover {
                background-color: #273476;
              }
          
              .slick-arrow:hover > svg {
                fill: white;
              }
          
              .slick-prev {
                left: -53px;
                border-radius: 53px 0 0 53px;
              }

              .slick-prev:before {
                display: none;
              }
          
              .slick-next {
                right: -53px;
                border-radius: 0 53px 53px 0;
              }

              .slick-next:before {
                display: none;
              }

          
        }

        .previewText {
            top: 685px;
            width: 40%;
            margin-left: 5%;
            text-align: left;
            color: #273476;

            .previewHeadline {
                font-size: 45px;
            }

            .previewInfo {
                font-size: 18px;
            }

            .sponsors {
                margin-top: 5%;
                display: flex;

                img {
                    padding-right: 50px;
                }
            }

        }
        
    }

    .howToBlockReverse {
        width: 80%;
        margin-left: 8%;
        margin-top: 3%;
        display: flex;


        .preview {
            width: 600px;
            height: 370px;
            box-shadow: 0px 4px 16px #00000029;
            opacity: 1;
          
              .slick-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background-color: transparent;
                height: 124px;
                width: 53px;
              }
          
              .slick-arrow > svg {
                fill: #273476;
              }
          
              .slick-arrow:hover {
                background-color: #273476;

                button {
                    display: none;
                }
              }
          
              .slick-arrow:hover > svg {
                fill: white;
              }
          
              .slick-prev {
                left: -53px;
                border-radius: 53px 0 0 53px;
              }

              .slick-prev::before {
                display: none;
              }
          
              .slick-next {
                right: -53px;
                border-radius: 0 53px 53px 0;
              }

              .slick-next::before {
                display: none;
              }
          
              
        }

        .previewText {
            left: 420px;
            width: 40%;
            margin-right: 5%;
            text-align: right;
            color: #273476;

            .previewHeadline {
                font-size: 45px;
            }

            .previewInfo {
                font-size: 18px;
            }

            .sponsors {
                margin-top: 5%;
                display: flex;

                img {
                    padding-right: 50px;
                }
            }

        }
        
    }

}

.slick-dots {
    position: absolute; 
    display: flex;
    width: 100%;
    justify-content: center;
      
    li {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    color: #CDD3F0 ;
    cursor: pointer;

    button {
        display: none;  
      }
      
      &.slick-active {
            color: #FF5A5F;
            pointer-events: none;
      }
    }
  }
