.contact-container {
    width: 70%;   
    margin-left: 15%;
    margin-top: -10%;
    position:absolute;

    .contact-block-contacts {
        float: left;
        
        margin-left: 3%;
        background-color: white;
        filter: drop-shadow(3px 3px 3px #00000029);
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 150px;
        padding-bottom: 50px;

        img {
            width: 50%;
            position: absolute;
            margin-left: -15%;
            margin-top: -50%;
        }
        
        p {
            color:#273476;
        }

        .links {

            a {
                text-decoration: none;
                color: #273476;
                font-weight: bolder;
            }


            .tel {
                font-size: 41px;
            }

            .mail {
                font-size: 26px;
            }
        } 

        .fakturacniUdaje {
            font-size: 26px;
        }



    }

    .contact-block-adress {
        float: left;
        margin-left: 3%;
        background-color: white;
        filter: drop-shadow(3px 3px 3px #00000029);
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 50px;
        padding-bottom: 50px;
        
        p {
            color:#273476;
        }

        .fakturacniUdaje {
            font-size: 26px;
        }



    }

}

.triangleSquare {
    position: absolute;
    margin-top: 2%;
    display:block;
    margin-left: 43%;

}