.versions {
    width: 80%;
    position: relative;
    background-image: url('../img/7.png');
    margin-left: 5%;
    margin-top: 15%;
    opacity: 1;

    .version {
        float: left;
        padding: 20px;
        
        img {
        width: 80%;
        margin-left: 10%;
        }

        .flatsCount {
            font-size: 35px;
            text-align: center;
            color: #273476;
        }

        .price {
            font-size: 45px;
            text-align: center;
            font-weight: bold;
            color: #273476;
        }

        .dotted-text {
            display: flex;
            flex-direction: row;
            color: #273476;
          }
          
          .dotted-text:before, 
          .dotted-text:after{
            content: "";
            flex: 1 1;
            border-bottom: 2px dotted;
            margin: auto;
          }
          
          .dotted-text:before {
            margin-right: 10px;
          }
          
          .dotted-text:after {
            margin-left: 10px;
          }
        .priceInfo {
            font-size: 20px;
            text-align: center;
            color: #273476;

            span {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
  .versions {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-top: 15%;
    opacity: 1;

    .version {
       
        img {
        width: 80%;
        margin-left: 10%;
        }

        .flatsCount {
            font-size: 35px;
            text-align: center;
            color: #273476;
        }

        .price {
            font-size: 35px;
            text-align: center;
            font-weight: bold;
            color: #273476;
        }

        .dotted-text {
            display: flex;
            flex-direction: row;
            color: #273476;
          }
          
          .dotted-text:before, 
          .dotted-text:after{
            content: "";
            flex: 1 1;
            border-bottom: 2px dotted;
            margin: auto;
          }
          
          .dotted-text:before {
            margin-right: 10px;
          }
          
          .dotted-text:after {
            margin-left: 10px;
          }
        .priceInfo {
            font-size: 20px;
            text-align: center;
            color: #273476;

            span {
                text-decoration: underline;
            }
        }
    }
}
}
