.headerText {
  background-image: url("/img/bars.png");
}
.headerText .guideTitle {
  font-size: 40px;
  font-weight: lighter;
}

body {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

/* IMGS */
.reverseVertical {
  position: absolute;
  left: -27;
  top: 534px;
  width: 325px;
  height: 352px;
  background-color: #ECEDFA;
  border-radius: 352px 0px 0px 0px;
  opacity: 1;
}

.reverseHorizontal {
  position: absolute;
  left: 162px;
  top: 371px;
  width: 163px;
  height: 163px;
  background: #273476;
  opacity: 1;
}

.orangeObj {
  top: 426px;
  width: 108px;
  height: 108px;
  position: absolute;
  background: #FFB200;
  border-radius: 264px 0px 0px 0px;
  opacity: 1;
  left: 325px;
}

.redRoof {
  position: absolute;
  top: 278px;
  left: 162px;
  width: 0;
  height: 0;
  border-left: 81.5px solid transparent;
  border-right: 81.5px solid transparent;
  border-bottom: 92.85px solid #FF5A5F;
  opacity: 1;
}

.greenObj {
  position: absolute;
  top: 208px;
  left: 325px;
  width: 163px;
  height: 163px;
  background: #87E5B9 0% 0% no-repeat padding-box;
  border-radius: 0px 264px 0px 0px;
  opacity: 1;
}

.greenObj2 {
  position: absolute;
  top: 1113px;
  left: 1568px;
  width: 352px;
  height: 352px;
  background-color: #87E5B9;
  border-radius: 352px 0px 0px 0px;
  opacity: 1;
}

.redHalfCircle {
  position: absolute;
  top: 1371px;
  left: 1826px;
  width: 94px;
  height: 188px;
  border-radius: 94px 0px 0px 94px;
  background: #FF5A5F 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Links */
.container-red {
  width: 75%;
  margin-left: 25%;
  background-image: none;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.container-green {
  width: 75%;
  margin-left: 25%;
}

.bigLink {
  position: relative;
  text-decoration: none;
  color: #273476;
}
.bigLink:hover {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1607843137));
  z-index: 2;
}

.bigLink__wrap {
  display: flex;
  align-items: flex-start;
  padding: 1rem 3rem;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 100%, 30px 50%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 0 100%, 30px 50%, 0 0);
}

.bigLink__wrap:hover {
  background-color: #FFF;
}

.bigLink__number {
  font-size: 62px;
  font-family: Bebas Neue;
  margin-right: 2rem;
  color: #FF5A5F;
  position: relative;
  padding: 0;
  text-align: center;
}
.bigLink__number::after {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: -50%;
  height: 200%;
  width: 1px;
  border-left: 2px dotted rgba(39, 52, 118, 0.075);
}
.bigLink__number.bigLink__number--first:after {
  top: 50%;
}
.bigLink:hover .bigLink__number::after {
  display: none;
}

.bigLink__title {
  font-size: 30px;
  font-family: Roboto Slab;
}
.bigLink:hover .bigLink__title {
  color: #FF5A5F;
}

.bigLink__desc {
  font-size: 18px;
}

.bigLink__arrow {
  width: 1.5rem;
  height: auto;
  padding-top: 0.5rem;
  margin-left: 2rem;
  opacity: 0;
}
.bigLink:hover .bigLink__arrow {
  opacity: 1;
}

.hero {
  padding: 2rem 0;
}

.hero__content {
  padding: 2rem;
  background-color: #FFF;
  max-width: 400px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
}

.hero__highlightWrap {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1607843137));
  margin-left: -3rem;
}

.hero__highlightWrap::after {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  top: 100%;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.hero__highlight {
  font-size: 1.25rem;
  font-weight: 600;
  color: #034D9F;
  position: relative;
  padding: 1rem;
  max-width: 300px;
  padding-left: 2rem;
  margin-bottom: 2rem;
  background-color: #FFF;
  -webkit-clip-path: polygon(100% 0%, calc(100% - 30px) 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, calc(100% - 30px) 50%, 100% 100%, 0 100%, 0 0);
}

/* Legaslitiva */
.legaslitiva-header .headerText {
  background-image: none;
  position: absolute;
  margin-top: -5%;
  line-height: 0.8;
}

.guider-legaslitiva {
  background-image: url("/img/guide/legaslitivaBackground.png");
  background-repeat: no-repeat;
  background-size: 120%;
  padding-bottom: 3%;
}
.guider-legaslitiva .guider {
  padding-top: 10%;
}
.guider-legaslitiva .guider .bigLink__number {
  color: #87E5B9;
}
.guider-legaslitiva .guider .bigLink:hover .bigLink__title {
  color: #87E5B9;
}

/* Ask us */
.askUs {
  position: relative;
  background-image: url("/img/bars.png");
}
.askUs .askUsContent {
  margin-top: -3%;
}
.askUs img {
  margin-top: 0%;
}/*# sourceMappingURL=guide.css.map */