
.mainInfo {
    margin-top: 5%;
    margin-left: 668px;
    width: 698px;
    height: 94px;
    color: #273476;
    text-align: left;
    letter-spacing: NaNpx;
    color: #273476;
    opacity: 1;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}


@media only screen and (max-width: 375px) {
    .mainInfo {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
        height: 94px;
        color: #273476;
        text-align: left;
        opacity: 1;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
    }
}