.header {
    margin-left: 407px;
    height: 296px;
    background: transparent url('/img/headerBackground.png') 0% 0% no-repeat padding-box;
    opacity: 1;

    h1 {
        font-size: 96px;
        color:#273476;
        margin-left: 291px;
    }
}

@media only screen and (max-width: 375px) {
    .header {
        margin-left: 20px;
        height: 120px;
        background: none;
        opacity: 1;
    
        h1 {
            font-size: 50px;
            color:#273476;
            margin-left: 20px;
        }
    }
}