.askUs {
    width: 100%;
    margin-top: 5%;
    background: transparent url('/img/Group 10.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    .askUsContent {
        width: 50%;
        float: left;
    .chcetese {
            text-align: right;
            color:#273476;
            .chcetese1 {
                font-size: 40px;
                margin-left: 600px;
                font-weight: bold;
                font-family: Bebas Neue;
                
            }

            .chcetese2 {
                text-align: right;
                font-size: 40px;
                margin-left: 629px;
             }
        }

        .askUsText {
            text-align: right;
            margin-left: 629px;
            background-color: white;
            font-size: 15px;
            color: #273476;
            width: 333px;
        }

        .contact {
            background-color: white;
            color: #273476;
            text-align: right;
            margin-left: 762px;
            width: 200px;

        .name {
                font-size: 25px;
                font-weight: bold;
                color:#273476;
            }

        .contactInfo {
            font-size: 17px;
        }
        }
    }
    img {
        float: right;
        width: 20%;
        margin-right: 25%;
        margin-top: 5%;
    }
}

