.askUsSection {
    background-image: url("/img/bars.png");
    background-repeat: no-repeat;
    padding: .5%;


    .askUsContent {
        color: #273476;
        width: 382px;
        margin-left: 606px;
        .chceteseBox {
            line-height: .8;

            .chcetese {
                font-size: 50px;

                .chcetese1 {
                    font-family: Bebas Neue;
                    margin-left: 30%;
                }

            }

        }

        .askUsText {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            text-align: right;
            font-size: 18px;
            color: #273476;
            padding: 1px;
        }

        .contact {
            width: 40%;
            margin-left: 60%;
            margin-top: 1.5%;
            text-align: right;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            padding-left: -10%;

            .name {
                font-size: 22px;
                font-weight:bolder;
            }
        }
    }

    img {
        position: absolute;
        margin-top: -18%;
        left: 1065px;
        width: 414px;
        height: 410px;
    }
}

.margin {
    margin-top: 10%;
}